/* =============
   Accounts pages
============= */

.account-pages {
  background:#ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
}
.wrapper-page {
  margin: 5% auto;
  position: relative;
  max-width: 330px;

  .account-bg {
    border-radius: 8px;

    .text-title{
      padding: 0 1px;
      margin: 0;
      font-size: 18px;
    }

    .card-box{
      padding: 25px 20px 45px;
    }
    .btn-success{
      background: #5D308B;
      border: 1px solid #5D308B;
      border-radius: 40px;
      font-size: 14px;
    }

    .form-group{
      margin-bottom: 10px;
      label {
        font-size: 12px;
        color: #70657b;
        margin-bottom: 4px;
        padding-left: 3px;
      }
      .form-control {
        outline: initial !important;
        background: #f8f9fa;
        border: 1px solid #ced4da;
        color: #47404f;
        border-radius: 20px;
        font-size: 14px;
      }
    }



    .checkbox{
      padding-left:10px;
      margin: 8px 0px;
      label {
        font-size: 12px;
        &::after {
          left: 1px;
          top: 0px;
          cursor: pointer;
        }

        &::before{
          height: 16px;
          width: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .card-box{
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06),0 1px 4px rgba(0,0,0,.08);
    border: 0;

  }
  .logo {
    font-size: 24px;
    margin: 30px 0px 0px;
    display: block;
    .icon-c-logo {
      background: url(/assets/images/icon/pww-logo.svg) no-repeat;
      content: " ";
      padding: 12px 34px;
      top: 0;
      position: relative;
      margin-right: 0px;
    }
  }
}

.user-thumb {
  position: relative;
  z-index: 999;
  img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
  }
}

.ex-page-content {
  .text-error {
    color: $white;
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;

    i {
      font-size: 78px;
      padding: 0px 10px;
    }
  }

  .text-error.shadow-text {
    text-shadow: rgba($white,0.3) 5px 1px, rgba($white,0.2) 12px 3px, rgba($white,0.1) 6px 4px;
  }
}


