
.icon-c-logo {
  background: url(/assets/images/icon/pww-logo.svg) no-repeat;
  content: " ";
  padding: 10px 25px;
  top: 0;
  position: relative;
  margin-right: 20px;
}

.arrow-expand-list {
  .noti-icon {
    cursor: pointer;
  }
}

.package-tab {
  padding: 0 0 10px;
  .ready-to-text {
    color: #B1EF06;
  }
  .action-to-text {
    color: #E80000;
  }
  .review-to-text {
    color: #FF7600;
  }

  .nav-tabs {
    position: relative;
    border-bottom: none;
  }

  .cancel-shipment {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 12px;
    text-transform: capitalize;
  }
  .tab-content {
    width: 100%;
    .tab-pane {
      .pack-order {
        padding: 10px 0 0;
        .sub-title-h5 {
          color: #44425A;
          padding: 0 0 8px;
          font-size: 17px;
        }
        a {
          margin: 0 auto;
          display: inline-block;
          .close-button {
            background: url("/assets/img/icon/close-button.svg") no-repeat;
            position: relative;
            z-index: 1;
            display: block;
            padding: 15px;
            margin: 0 auto;
            width: auto;
          }
        }

        .round {
          position: relative;
          padding-left: 0;
          left: 0;
          font-size: 8px;
        }

        .round label {
          width: 22px;
          height: 22px;
          background-color: #fff;
          border: 2px solid #572682;
          border-radius: 40%;
          cursor: pointer;
          left: 0;
          position: absolute;
          top: 0;
        }

        .round label:after {
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          content: "";
          height: 5px;
          left: 5px;
          opacity: 0;
          position: absolute;
          top: 6px;
          transform: rotate(-45deg);
          width: 10px;
        }
        .round input[type="checkbox"] {
          visibility: hidden;
        }
        .round input[type="checkbox"]:checked + label {
          background-color: #572682;
          border-color: #572682;
        }
        .round input[type="checkbox"]:checked + label:after {
          opacity: 1;
        }
        .package-problems-holder {
          text-align: left;
          .problem-title {
            background-color: #f19445;
            color: #fff;
            display: inline-block;
            padding: 1px 4px 2px;
            margin: 0 0 5px;
          }
          p {
            margin: 0;
          }
        }
        .table tr {
          //cursor: pointer;
        }
        .table {
          background-color: #fff !important;
          thead {
            th {
              font-size: 12px;
              font-weight: 600;
              text-align: center;
              color: #44425A;
              border-bottom: 1px;
              vertical-align: top;
            }
          }
          tfoot {
            background: #F4FFF0;
            th {
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              color: #44425A;
              border-bottom: 1px;
              border: none;
              border-top: 1px solid #dee2e6 !important;
            }
            .border-none {
              border-top: 1px solid #dee2e6 !important;
            }
          }
          .hiddenRow {
            padding: 0;
            border: none;
            display: none;
            .accordian-body {
              border-top: 1px solid #dddddd;
              background: #f4fff0;
              cursor: auto;
              .pack-details {
                text-align: left;
                z-index: 1;
                padding: 15px 15px 0;
                p {
                  color: #44425A;
                  font-size: 12px;
                  float: left;
                }
                ul {
                  margin: 0;
                  padding: 0;
                  li {
                    list-style: none;
                    float: left;
                    margin-right: 10px;
                    .btn-pack {
                      display: inline-block;
                      font-weight: 400;
                      text-align: center;
                      white-space: nowrap;
                      vertical-align: middle;
                      user-select: none;
                      border: 1px solid transparent;
                      padding: 8px 15px;
                      font-size: 12px;
                      line-height: 11px;
                      border-radius: 0.25rem;
                      background: #C2F047;
                      width: 60px;
                      cursor: pointer;
                    }
                  }
                }
              }
              .package-additional-info {
                border-bottom: 1px solid #c4c4c4;
                margin-bottom: 17px;
                text-align: left;

                .link {
                  background: none;
                  border: 0;
                  color: #0e689c;
                  cursor: pointer;
                }
              }
              .pack-table {
                position: relative;
                input {
                  text-align: center;
                }
                .table {
                  margin-bottom: 0;
                  td {
                    vertical-align: middle;
                    border: 1px solid #707070;
                  }
                  thead {
                    background: #f4fff0;
                    th {
                      border: none !important;
                      font-size: 12px;
                      font-weight: 600;
                    }
                  }
                  tbody {
                    border: 1px solid #dee2e6;
                    background: #f3f3f4;
                    tr {
                      th {
                        border: 1px solid #707070;

                        P {
                          text-align: left;
                          color: #44425A !important;
                          font-size: 12px;
                          font-weight: 500;
                          margin: 0;
                        }
                        .pack-title {
                          font-size: 13px;
                        }
                      }

                      th:first-child {
                        width: 50%;
                      }
                    }
                  }
                }
              }
              .pack-service {
                position: relative;
                padding-top: 10px;
                .btn-item-val {
                  font-weight: 700;
                  text-align: center;
                  padding: 8px 15px;
                  font-size: 14px;
                  border-radius: 0.25rem;
                  background: #A6D42B;
                  color: #fff;
                  text-transform: uppercase;
                  margin-bottom: 7px;
                }

                p {
                  font-size: 12px;
                  font-weight: 500;
                  text-align: left;
                  color: #44425A;
                }

                ul {
                  float: left;
                  padding: 0;
                  margin: 10px 0 0;
                  li {
                    list-style: none;
                    float: left;
                    margin-right: 10px;
                    .btn-pack {
                      display: inline-block;
                      font-weight: 400;
                      text-align: center;
                      white-space: nowrap;
                      vertical-align: middle;
                      user-select: none;
                      border: 1px solid #707070;
                      padding: 10px 15px;
                      font-size: 12px;
                      line-height: 11px;
                      border-radius: 0.25rem;
                      background: #E0E0E0;
                      width: auto;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .name-id {
            text-align: left;
          }
          td {
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: #44425A;
            border-bottom: none;
          }
        }

      }
    }
  }
  .nav-tabs {
    .nav-item {
      padding: 0 3px 0 0;
      position: relative;
      .nav-link {
        background-color: #f7f7f1;
        font-size: 13px;
        font-weight: 600;
        padding: 11px 15px 9px;
        min-width: 170px;
        text-align: center;
        min-height: 40px;
        border-radius: 5px;
        border: none;
      }

      .nav-link.active {
        color: #fff;
        background-color: #639;
        z-index: 2;
        position: relative;
        border: none;
        border-radius: 5px;
      }
    }

    .ready-to-send {
      //border-color: #9CD600 #9CD600 #fff;
      //border-bottom: 1px solid #9CD600 !important;
      .items-count {
        color: #fff;
        background-color: #9CD600;
        position: relative;
        float: right;
        top: 1px;
        right: 0;
        width: 30px;
        height: 18px;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 6px;
        margin-left: 8px;
      }
    }
    .in-review {
      //border-color: #FF7600 #FF7600 transparent;
      //border-bottom: 1px solid #FF7600 !important;
      .items-count {
        color: #fff;
        background-color: #FF7600;
        position: relative;
        float: right;
        top: 1px;
        right: 0;
        width: 30px;
        height: 18px;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 6px;
        margin-left: 8px;
      }

    }
    .action-required {
      //border-color: #E80000 #E80000 #fff;
      //border-bottom: 1px solid #E80000 !important;
      .items-count {
        color: #fff;
        background-color: #E80000;
        position: relative;
        float: right;
        top: 1px;
        right: 0;
        width: 30px;
        height: 18px;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 6px;
        margin-left: 8px;
      }
    }
    .view-all {
      //border-color: #572682 #572682 #fff;
      //border-bottom: 1px solid #572682 !important;
      .items-count {
        color: #fff;
        background-color: #572682;
        position: relative;
        float: right;
        top: 1px;
        right: 0;
        width: 30px;
        height: 18px;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 6px;
        margin-left: 8px;
      }
    }

    .que {
      //border-color: #572682 #572682 #fff;
      //border-bottom: 1px solid #572682 !important;
      .items-count {
        color: #fff;
        background-color:#E9C22F;
        position: relative;
        float: right;
        top: 1px;
        right: 0;
        width: 30px;
        height: 18px;
        border-radius: 10px;
        font-size: 11px;
        padding: 3px 6px;
        margin-left: 8px;
      }
    }
  }

  .r-side-section {
    padding-top: 6%;
    .ship-estimate-summary {
      border-radius: 6px;
      border: 1px solid #C3B6D5;
      padding: 2px 0 10px;
      .estimate {
        padding: 15px 15px 10px;
        border-bottom: 1px solid #C3B6D5;
        .borderless {
          margin-bottom: 1px;
        }

        table.borderless td, table.borderless th {
          border: none;
          color: #44425A;
          font-size: 13px;
          padding: 0;
          font-weight: 500;
        }
        .td-right {
          float: right;
        }
      }

      .subtotal {
        padding: 10px 15px;
        p {
          color: #44425A;
          font-size: 13px;
          font-weight: 500;
          span {
            float: right;
          }
        }

        .estimate-p {
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 0;

          span {
            float: right;
            color: #E80000;
          }
        }
        .estimate-btn {
          background-color: #572682;
          border-color: #572682;
          text-transform: uppercase;
          width: 100%;
          font-size: 12px;
          color: #ffffff;
          padding: 7px 10px;
          margin-top: 15px;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .fedex-icon {
          background: url("/assets/img/icon/fedex.svg") no-repeat;
          content: " ";
          padding: 8px 18px;
          top: 4px;
          position: relative;
          margin-right: 13px;
          float: left;
        }
      }

    }
  }
}

.pack-order [data-toggle="collapse"] {
  cursor: pointer;
}

.pack-order [data-toggle="collapse"]:after {
  content: "";
  background: url("/assets/images/icon/accordion-down-arrow.svg") no-repeat;
  display: inline-block;
  z-index: 1;
  transform: rotate(0deg);
  transition: all linear 0.25s;
  padding: 7px;
  cursor: pointer;
}

.pack-order [data-toggle="collapsed"]:after {
  content: "";
  background: url("/assets/images/icon/accordion-up-arrow.svg") no-repeat;
  display: inline-block;
  z-index: 1;
  transform: rotate(0deg);
  transition: all linear 0.25s;
  padding: 7px;
  cursor: pointer;
}




.pack-order [data-toggle="collapse"].collapsed:after {
  transform: rotate(180deg);
}

.open-all {
  content: "";
  background: url("/assets/images/icon/accordion-down-arrow.svg") no-repeat;
  display: inline-block;
  z-index: 1;
  padding: 7px;
  position: relative;
  top: 5px;
}

.close-all {
  content: "";
  background: url("/assets/images/icon/accordion-up-arrow.svg") no-repeat;
  display: inline-block;
  z-index: 1;
  transition: all linear 0.25s;
  padding: 7px;
  position: relative;
  top: 5px;
}

.search-area {
  padding: 20px 10px 0;
  .form-group {
    label {
      font-size: 13px;
      font-weight: bold;
    }

    .form-control{
      font-size: 13px;
      border-radius: 0px;
    }

    .btn-primary {
      color: #fff;
      background-color: #639;
      border-color: #639;
      border-radius: 0px;
      font-size: 14px;
      font-weight: bold;
      padding: .375rem 20px;
      box-shadow: none;
    }
  }

  .buttons-excel{
    float: right;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 30px;
    border-radius: 0px;
    background-color: #656565;
    border-color: #656565;
  }
}
.btn-send-email{
  background: #16957c;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #639;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-size: 13px;
}
.shipping-info-right {
  text-align: left;
}
.datepicker td, .datepicker th {
  width: 30px;
  height: 30px;
  font-size: 13px;
}

//upload file modal
.file-upload-request {
  .modal-lg {
    max-width: 700px;
  }
  .modal-content {
    border-radius:0;
    .modal-header {
      border: none;
    }
    .modal-body {
      .close{
        position: relative;
        right:10px;
        top: 10px;
        span{
          background-image: url(/assets/img/icon/close-button-modal.svg);
          background-repeat: no-repeat;
          display: block;
          position: relative;
          top: 1px;
          padding:11px;
          z-index: 1;
        }
      }
      h4{
        color: #332e38;
        font-size: 17px;
      }
      .upload-doc {
        padding: 15px 0 20px;
        .upload-btn-wrapper {
          .btn-upload {
            margin-top: 10px !important;
          }
        }
        .upload-file-name {
          padding-top: 10px !important;
          color: #44425A !important;
          font-size: 14px !important;
          width: 100% !important;
          margin: 0 !important;
        }
        .upload-file-alert {
          color: #c0c0c0 !important;
          font-size: 13px !important;
          padding: 0 !important;
          margin: 0 !important;
        }
      }

    }
  }
}


.request-row {
  //border-bottom: 1px solid #dddddd;
  padding: 15px 5px;
  .request-img {
    img {
      border: none;
    }
  }
  .btn-request {
    min-width: 130px;
    font-weight: 600;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    height: 38px;
    line-height: 24px;
    padding: 0.375rem 0;
    background-color: #572682;
    border-color: #572682;
    margin-top: 10px;
    margin-right: 15px;
  }

  .btn-cancel{
    min-width:130px;
    font-weight: 600;
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    height: 38px;
    line-height: 24px;
    padding: 0.375rem 0;
    background-color: #F0F0F0;
    border-color:#F0F0F0;
    margin-top: 10px;
  }


}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding:0 15px 0 10px;
  float: left;
  .btn-upload {
    background-color: #CBCBCB;
    border-color: #CBCBCB;
    color: #FFFFFF;
    padding: 11px 20px;
    margin-top: 0px;
    cursor: pointer;
    .attachment {
      background: url("/assets/images/icon/attachment.svg") no-repeat !important;
      height: 15px;
      display: block;
      width: 24px;
    }
  }

  input[type=file] {
    position: absolute;
    left: 16px;
    top: 8px;
    opacity: 0;
    display: block;
    height: 50px;
    width: 70px;
    cursor: pointer;
  }
}

.upload-file-name  {
  margin: 0px 0 4px;
  font-size: 13px;
}
.upload-file-alert{
  margin: 0px 0 4px;
  font-size: 13px;
}

.form-inline .form-control {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  margin: 0;
  padding: 3px 10px;
  padding-right: 10px !important;
  font-size: 12px;
  text-align: center;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: .2rem;
  margin-right: 4px;
  margin-top: 3px;
}

.shipment-details-sub{
  background: #fbfbfb !important;
  padding: 0px !important;
}

.shipment-details-sub .pack-table .table thead {
  background: #fbfbfb !important;
}

.shipment-details-sub .panel-collapse {
  padding: 10px !important;
}

